<!-- HTML for headers on all pages. -->

<header id="header">
    
    <!-- Left side of header. -->
    <div>
        <!-- Logo with link. -->
        <img src="/logos/logo-simple.svg" width="30px" height="30px" style="float:left">
        
        <!-- Spacing between logo and title. -->
        <span style="float:left; height:10px; width:10px"></span>
    	
        <!-- Sciencehub title. -->
        <a href="/">
            <h1 id="logo"><span>ScienceHub</span></h1>
        </a>
	
    </div>
    
    <!-- Navigation tabs.  -->
    <nav id="nav">
		<ul>
			<li><a href="/">Welcome</a></li>
            <li><a href="/explore.html">Explore</a></li>
			<li><a href="https://github.com/science-station/website/new/master" >Submit Post</a></li>
			<li><a href="https://github.com/login" class="button special">Sign In</a></li>
            
		</ul>
	</nav>
    
</header>